<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Thêm phòng ban</h4>
    </div>
    <div class="modal-body">
      <form novalidate #form="ngForm" (submit)="insertRecord(form)">
        <div class="form-group">
          <input type="hidden" name="Id" value="service.formData.Id" />
      
          <label style="font-size: 20px;">Phòng ban: </label>
          <input class="form-control form-control-lg" placeholder="name"
               name="name" #name="ngModel" [(ngModel)]="service.formData.Name" required />
        
      
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="modal.close()">Lưu</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Hủy</button>
          </div>
        </div>
      </form>
    </div>
</ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)" >Thêm phòng ban</button>
  
  
