<div 
    fxLayout="row wrap" 
    fxLayout.lt-sm="column" 
    fxLayoutGap="32px" 
    fxLayoutAlign="flex wrap"
    style="margin: 32px"
    >
        <!-- Test available *ngIf=menu.avalable -->
  <ng-container *ngFor="let tb of service.list">
    <!-- <ng-container *ngFor="let tb of Tables"> -->
    <div style="height: 120px;">
    <div style="background-color: aliceblue;padding-left: 5px; border-radius: 10%; height: 100px; width: 100px;text-align: center; ">
      <h1>{{tb.Name}}</h1>
      <!-- <label class="switch">
        <mat-checkbox type="checkbox" data-bind="checked">
        <span class="slider round"></span>
        </mat-checkbox>
      </label>   -->
      <mat-slide-toggle  [checked]=tb.Available (click)="Toggle(tb.Id)"></mat-slide-toggle>
      <p></p>
    </div>
  </div>
    </ng-container>
  </div>
  <div style="display: flex;
  justify-content:space-evenly;position: absolute; bottom: 8px;width: 83%;
  ">
    
      <button  (click)="Delete()">Giảm bàn</button>
      <button  (click)="Add()">Thêm bàn</button>
   
    
  </div>
  
