<div class="container" style="margin: 30px;">

  <div class="jumbotron py-2">
    <h1 class="display-4 text-center" >
      Tài khoản
    </h1>
  </div>

  <div style="padding: 10px;">
    <app-user-create></app-user-create>
  </div>

  <div>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Tên khách hàng</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th style="padding-right: 50px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td (click)="populateForm(pd)">{{pd.FullName}}</td>
          <td (click)="populateForm(pd)">{{pd.Address}}</td>
          <td (click)="populateForm(pd)">{{pd.PhoneNumber}}</td>
          <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click) = "onDelete(pd.Id)">
          </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <router-outlet></router-outlet>

</div>
