<ng-template #content let-modal>
  <div class="jumbotron py-1">
    <h4 class="modal-title" id="modal-basic-title" style="text-align: center; font-size: 18px">Thêm khách hàng</h4>
  </div>
  <div class="modal-body">
    <form novalidate autocomplete="off" #form="ngForm" (submit)="insertRecord(form)">
      <input type="hidden" name="Id" value="service.formData.Id" />
      <div class="form-group">
          <label>Tên khách hàng</label>
          <input class="form-control form-control-lg" placeholder="Họ và tên" name="FullName"
              #FullName="ngModel" [(ngModel)]="service.formData.FullName"
              required [class.invalid]="FullName.invalid && FullName.touched">
      </div>
      <div class="form-group">
        <label>Địa chỉ</label>
        <input class="form-control form-control-lg" placeholder="Địa chỉ" name="Address"
            #Address="ngModel" [(ngModel)]="service.formData.Address"
            required [class.invalid]="Address.invalid && Address.touched">
    </div>
      <div class="form-group">
          <label>Số điện thoại</label>
          <input class="form-control form-control-lg" placeholder="Số điện thoại" name="PhoneNumber"
              #PhoneNumber="ngModel" [(ngModel)]="service.formData.PhoneNumber"
              required [class.invalid]="PhoneNumber.invalid && PhoneNumber.touched">
      </div>

      <div class="form-group">
        <label>Tài Khoản</label>
        <input class="form-control form-control-lg" placeholder="Tài khoản" name="UserName"
            #UserName="ngModel" [(ngModel)]="service.formData.UserName"
            required [class.invalid]="UserName.invalid && UserName.touched">
    </div>

      <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" class="form-control form-control-lg" placeholder="Mật khẩu" name="Password"
            #Password="ngModel" [(ngModel)]="service.formData.Password"
            required [class.invalid]="Password.invalid && Password.touched">
      </div>

      <div class="form-group">
        <label for="DepartmentID">Phòng ban</label>
        <select class="form-control"
        [(ngModel)]="service.formData.DepartmentID">
          <option [ngValue]="pd.Id" *ngFor="let pd of this.DepartService.list">
            {{pd.Name}}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="modal.close()">Lưu</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Hủy</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)" >Thêm khách hàng</button>
