<ng-template #content let-modal>
    <div class="jumbotron py-1">
      <h4 class="modal-title" id="modal-basic-title" style="text-align: center; font-size: 18px">Thêm thức uống</h4>
    </div>
    <div class="modal-body">
      <form novalidate autocomplete="off" #form="ngForm" (submit)="insertRecord(form)">
        <input type="hidden" name="Id" value="service.formData.Id" />
        <div class="form-group">
            <label>Tên món</label>
            <input class="form-control form-control-lg" placeholder="Tên món" name="Name"
                #Name="ngModel" [(ngModel)]="service.formData.Name"
                required [class.invalid]="Name.invalid && Name.touched">
        </div>
        <div class="form-group">
            <label style="display: inline-block; width: 200px;">Danh mục Menu</label>
            <select class="form-control" [(ngModel)]="service.formData.CategoryID">
              <option [value]="pd.Id" *ngFor="let pd of this.CategoryService.list">
                {{pd.Name}}
              </option>
            </select>
          </div>
        
          <div class="form-group">
              <label >Giá (đồng)</label>
              <input class="form-control form-control-lg" placeholder="Giá" name="Price"
                  #Price="ngModel" [(ngModel)]="service.formData.Price"
                  required [class.invalid]="Price.invalid && Price.touched">
          </div>
        
            <div class="form-group">
              <label for="Available">Trạng thái</label>
              <select class="form-control" [(ngModel)]="service.formData.Available">
                <option [value]="true">
                  Có sẵn
                </option>
                <option [value]="false">
                  Không có sẵn
                </option>
              </select>
            </div>
  
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-dark" [disabled]="form.invalid" (click)="modal.close()">Lưu</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Hủy</button>
        </div>
      </form>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)" >Thêm món</button>
  
  
  