<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login Page</mat-toolbar>
        <div *ngIf="isLoginError" style="color:red">
            <i style="font-size: medium"class="material-icons">error</i> Incorrect username or password
        </div>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form"  [formGroup]="formGroup" 
        (ngSubmit)="loginProcess()">
            <mat-form-field>
                <input matInput type="text" formControlName="username" placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" formControlName="password" placeholder="Password">
            </mat-form-field>
            <button mat-button type="submit" >Login</button>
        </form>
    </mat-card>
</div>