
<div id="sidebar"  >
    <ul class="list-unstyled components">
        <li>
            <a href="#">Trang chủ</a>
        </li>
        <li>
            <a routerLink="/department">Phòng ban</a>
        </li>
        <li>
            <a routerLink="/user">Nhân viên</a>
        </li>
        <li>
            <a routerLink="/table">Bàn</a>
        </li>
        <li>
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    Quản lý menu
                </mat-expansion-panel-header>
                <li>
                    <a routerLink="/category">Danh mục Menu</a>
                </li>
                <li>
                    <a routerLink="/menu">Menu</a>
                </li>
                </mat-expansion-panel>
        </li>
    <!-- <li>
        <a routerLink="/order">Trang phục vụ</a>
    </li> -->
    
    <li>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
                Quy trình phục vụ
            </mat-expansion-panel-header>
            <li>
                <a routerLink="/cashier">Thu ngân</a>
            </li>
            <li>
                <a routerLink="/waiter">Phục vụ</a>
            </li>
            <li>
                <a routerLink="/bartender">Pha chế</a>
            </li>
        </mat-expansion-panel>
    </li>
    
    </ul>
    
</div>

